.card {
  background-color: var(--mantine-color-body);
}

.header {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.title {
  font-weight: 600;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}
