.card {
  background-color: var(--mantine-color-myColor-0) !important;
  border-color: var(--mantine-color-myColor-light-color) !important;
  border-width: 3px !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  border-width: 2px !important;
  border-bottom: 1px solid var(--mantine-color-myColor-light-color);
}

.icon {
  flex-shrink: 0;
  flex-grow: 0;
}

.chevron {
  flex-grow: 0;
  flex-shrink: 0;
}

.details {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.title {
  width: 100%;
  font-weight: 600;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}
