.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
