.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
